@use "../../variables" as *;

.Background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .Modal {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 8px;
    gap: 32px;
    padding: 40px;
    box-shadow: 0 1px 4px rgba(12, 12, 13, 0.05),
                0 1px 4px rgba(12, 12, 13, 0.1);
    //width: clamp(512px, 50%, 786px);
    width: 512px;

    .AuthHeader {
      display: flex;
      flex-direction: row;
      gap: 7px;

      b {
        font-size: 23px;
      }

      span {
        font-size: 10px;
        color: $textSecondaryColor;
      }
    }
    span{
      line-height: 20px;
    }
  }
}
