@use "../variables" as *;

.dropdown-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;

  .dropdown-items {
    max-height: 0;
    width: 100%;
    min-width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    overflow: hidden;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 4px;
    gap: 4px;
    transition: 0.5s ease-out max-height;
    box-shadow:
      0 3px 8px 0 #5766750f,
      0 6px 12px 0 #6a738128;

    > span {
      display: flex;
      align-items: center;
      text-indent: 16px;
      height: 48px;
      line-height: 20px;
      font-weight: 400;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: $textWhite;
      }
    }
  }

  > svg {
    transition: 0.2s ease transform;
  }

  &:hover {
    > svg {
      transform: rotate(-180deg);
    }

    .dropdown-items {
      max-height: 800px;
    }
  }
}
