@use "../variables" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 32px 14px;
  width: 554px;
  height: 528px;
  min-width: auto;
  min-height: auto;

  h1 {
    font-size: 20px;
    line-height: 24px;
  }

  > .custom-input,
  .dropdown-bar {
    flex-direction: column;
  }

  > .dropdown-bar {
    > span {
      font-size: 16px;
      color: $textColor;
      font-weight: 400;
    }
  }
}
