@use "../variables" as *;

$transition-duration: 0.6s;
$easing: ease-in-out;

.sidebar {
  width: 320px;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(182.83deg, #161f32 66.28%, #364053 99.39%);
  transition: width $transition-duration $easing;

  .logo-container {
    padding: 16px 24px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 320px;
    height: 110px;
    transition:
      width $transition-duration $easing,
      padding $transition-duration $easing;
    position: relative;

    > .logo {
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-self: center;
      transition: gap $transition-duration $easing;

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: default;

        &:nth-child(1) {
          width: 60px;
          height: 60px;
          min-width: 30px;
          transition:
            width $transition-duration $easing,
            height $transition-duration $easing;
        }

        &:nth-child(2) {
          width: 225px;
          transition: width $transition-duration $easing;
        }

        > b {
          font-weight: 700;
          font-size: 19px;
          line-height: 21px;
          color: $textWhite;
          overflow: hidden;
          text-wrap: nowrap;
        }

        > span {
          font-weight: 400;
          line-height: 9px;
          font-size: 9px;
          color: $textWhite;
          overflow: hidden;
          text-wrap: nowrap;
        }
      }
    }

    > .note-wrapper {
      position: absolute;
      bottom: 28px;
      right: 24px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }

  .navbar {
    display: flex;
    flex-direction: column;
    --number-of-options: 4;
    position: relative;

    .selection {
      background-color: $activeElColor;
      height: 40px;
      width: calc(100% - 24px);
      border-radius: 8px;
      margin: 2px 12px;
      position: absolute;
      pointer-events: none;
      display: none;
      top: 0;
      left: 0;
      z-index: 100;
      transition: ease 0.2s transform;
    }

    > label:has(input[type="radio"]:checked) ~ .selection {
      display: block;
      animation: 0.2s ease fade-in;
    }

    > label:nth-child(2):has(input[type="radio"]:checked) ~ .selection {
      transform: translateY(calc(100% + 4px));
    }

    > label:nth-child(3):has(input[type="radio"]:checked) ~ .selection {
      transform: translateY(calc(200% + 8px));
    }

    > label:nth-child(4):has(input[type="radio"]:checked) ~ .selection {
      transform: translateY(calc(300% + 12px));
    }
  }

  > label {
    height: 0;
    width: 0;

    > .collapse-radio {
      appearance: none;
      margin: 0;
    }
  }

  &:has(#collapse-on:checked) {
    width: 66px;

    > .logo-container {
      width: 66px;
      padding-left: 18px;
      padding-right: 12px;
      padding-bottom: 62px;
      gap: 5px;

      > .logo {
        gap: 0;

        > div {
          &:nth-child(1) {
            height: 30px;
            width: 30px;
          }

          &:nth-child(2) {
            width: 0;
          }
        }
      }

      > .note-wrapper {
        right: 20px;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
