$backgroundColor: #F5F6F7FF;
$errBackgroundColor: #FDEDEDFF;

$white: #ffffffFF;

$textColor: #444444FF;
$textBlack: #000000;
$textSecondaryColor: #999999FF;
$textWhite: #E6E6E6FF;
$errTextColor: #E84646FF;

$borderColor: #E6E6E6FF;
$errBorderColor: #E84646FF;

$activeElColor: #00ABEBFF;
$disabledElColor: #00ABEB7F;
$darkColor: #161F32FF;
$semiDarkColor: #364053FF;
$disabledSecondColor: #757D8D;

$HeaderBorder: #DCE0E5;

$tableHeader: #F8F9F9FF;
$tableHeaderText: #777C7E;
$tableHeaderHover: #f0f0f0;
$tableBodyText: #4A5154;

$modalBorder: #E5E7E8;


$text-36: 36px;
$text-26: 26px;
$text-24: 24px;
$text-20: 20px;
$text-18: 18px;
$text-16: 16px;
$text-14: 14px;

