@use "../../../common/styles/variables" as *;

.legal-entity-modal {
  padding: 40px;
  gap: 32px;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  z-index: 600;
  border: 1px solid $modalBorder;
  background-color: $white;
  width: 662px;
  animation: appear 0.2s ease-out;

  > header {
    height: 24px !important;
    padding-left: 0 !important;

    .return-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;

      > svg {
        margin-inline: 8px;
      }

      > span {
        font-size: 16px;
        font-weight: 400;
        color: $activeElColor;
      }
    }
  }

  .message {
  }

  .message-error {
    color: #e84646ff;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > h1 {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }

    > span {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .info-container {
    display: flex;
    flex-direction: row;
    gap: 32px;

    .info-row {
      display: flex;
      flex-direction: column;
      gap: 32px;
      flex: 1;

      > section {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .section-header {
          display: flex;
          flex-direction: column;
          gap: 12px;

          > h1 {
            font-size: 18px;
            line-height: 20px;
          }

          > span {
            line-height: 14px;
          }
        }

        > h1 {
          font-size: 18px;
          line-height: 20px;
        }

        > span {
          line-height: 14px;
        }
      }
    }

    .inn-block {
      display: flex;
      flex-direction: column;
      flex: 2;
      align-self: flex-end;
      gap: 16px;

      .inn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 16px;

        .CustomInput {
          flex: 1;
          max-width: calc(50% - 16px);
        }

        > div {
          position: relative;
          > svg {
            position: absolute;
            bottom: 0;
            left: calc(50% - 20px - 33px);
          }
        }

        button {
          box-shadow: none;
          padding: 0;
        }

        span {
          &:nth-child(3) {
            height: 40px;
            line-height: 40px;
          }
        }
      }
    }
  }

  .save-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .CustomInput {
    > span {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@keyframes appear {
  from {
    transform: translateY(-20%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
