.clients-action-wrapper {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-end;

  > .search-bar {
    flex: 3;
  }

  > .dropdown-bar {
    flex: 2;
  }

  > .custom-button-fill {
    flex: 1;
  }
}
