@use "../../variables" as *;

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    display: flex;
    flex-direction: column;
    background: $white;
    border-radius: 8px;
    gap: 32px;
    padding: 40px;
    box-shadow:
      0 1px 4px rgba(12, 12, 13, 0.05),
      0 1px 4px rgba(12, 12, 13, 0.1);
    //width: clamp(512px, 50%, 786px);
    width: 512px;

    .auth-header {
      display: flex;
      flex-direction: row;
      gap: 7px;

      > .auth-text {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > b {
          font-size: 20px;
          line-height: 23px;
        }

        > span {
          font-size: 9px;
          line-height: 10px;
          color: $textSecondaryColor;
        }
      }
    }

    span {
      line-height: 20px;
    }
  }
}
