@use "../../variables" as *;

.recovery-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  h1 {
    text-align: center;
  }

  > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
